@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

body {
  background-color: rgb(248, 245, 245);
}
.app {
  object-fit: contain;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2px;
  box-shadow: 0 8px 4px -8px rgb(151, 150, 150);
  position: relative;
}
.header__right {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.header__logo {
  margin: 10px;
  font-family: "New Tegomin", serif;
  font-size: 40px;
}
.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px;
  margin: 40px;
  object-fit: contain;
}

.link {
  text-decoration: none;
  color: black;
}
.productDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 10px; */
  margin-top: 20px;
  width: 100%;
  font-family: "Roboto Condensed", sans-serif;
}
.productDetails__left img {
  width: 100%;
  object-fit: contain;
  max-height: 700px;
  min-width: 400px;
  margin: 10px;
  justify-content: center;
}
.productDetails__right {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 129px;
  justify-content: space-around;
}
.productDetails__right button {
  width: 60% !important;
  margin-top: 50px;
}
.productDetails__left {
  display: flex;
  align-items: center;
  object-fit: contain;
  justify-content: center;
}
.product__image {
  object-fit: contain;
  max-width: 200px;
  align-items: center;
}
.productImg__container {
  display: flex;
  object-fit: contain;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.productDetail__description {
  padding: 0px 89px;
}
@media only screen and (max-width: 900px) {
  .product {
    justify-content: center;
  }
  .productDetails {
    display: flex;
    flex-direction: column;
  }
  .productDetails__right {
    padding: 10px;
  }
  .productDetail__description {
    padding: 0px 9px;
  }
  .productDetails__left img {
    max-width: 200px;
    min-width: 200px;

    justify-content: center;
  }
}
